{% extends '_layouts/anniversary.twig' %}

{% from '_macros/hero.twig' import hero %}
{% from '_macros/icon.twig' import icon %}
{% from '_macros/message.twig' import message %}

{% set layoutSize = 'small' %}

{% set entry = craft.entries()
    .section('anniversaryEvents')
    .with([
        'anniversaryEvents:event',
    ])
    .limit(1)
    .collect()
    .first() %}

{% block main %}
    {{ hero({
        taxonomy: '100 Jahre ZS',
        taxonomyUrl: url('100'),
        title: entry.title
    }) }}

    {% if entry.anniversaryEvents.count() > 0 %}
        <ul class="anniversary-events">
            {% for event in entry.anniversaryEvents %}
                <li class="anniversary-event">
                    <h3 class="anniversary-event__label">{{ event.label }}</h3>

                    <div class="anniversary-event__description">
                        {{ event.description }}
                    </div>

                    <div class="anniversary-event__meta">
                        <div class="anniversary-event__date">
                            {{ icon({
                                name: 'calendar'
                            }) }}
                            {{ event.date|date('l, j. F Y') }}
                        </div>

                        <div class="anniversary-event__time">
                            {{ icon({
                                name: 'clock'
                            }) }}
                            {% if event.timeEnd %}
                                {{ event.timeStart|date('H.i') }} – {{ event.timeEnd|date('G.i') ~ ' Uhr' }}
                            {% else %}
                                {{ event.timeStart|date('H.i') ~ ' Uhr' }}
                            {% endif %}
                        </div>

                        <div class="anniversary-event__location">
                            {{ icon({
                                name: 'map-pin'
                            }) }}
                            {% if event.locationLink %}
                                <a href="{{ event.locationLink }}" target="_blank">
                                    {{ event.location }}
                                </a>
                            {% else %}
                                {{ event.location }}
                            {% endif %}
                        </div>

                        {% if event.eventLink %}
                            <div class="anniversary-event__link">
                                {{ icon({
                                    name: 'globe'
                                }) }}
                                <a href="{{ event.eventLink }}" target="_blank">
                                    Weitere Informationen
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ message({
            message: 'Es wurden keine Veranstaltungen gefunden.',
            style: 'dark'
        }) }}
    {% endif %}
{% endblock %}

{% set meta = {
    title: 'Veranstaltungen – 100 Jahre ZS',
    url: url('100/veranstaltungen')
} %}
