{% extends '_layouts/anniversary.twig' %}

{% from '_macros/button.twig' import button, link %}
{% from '_macros/content.twig' import image %}
{% from '_macros/icon.twig' import icon %}

{% set headerStyle = 'gradient' %}
{% set layoutSize = 'large' %}

{% set entry = craft.entries()
    .section('anniversaryTimeline')
    .with([
        ['anniversaryImage', {
            withTransforms: [
                { width: 1024 },
                { width: 1440 },

                {
                    height: 628,
                    width: 1200,
                    format: 'jpeg'
                }
            ]
        }],
        'anniversaryTimeline',
        ['anniversaryTimeline.nodeRegular:nodeImage', {
            withTransforms: [
                { width: 400 },
                { width: 650 },
                { width: 1024 },
                { width: 1440 }
            ]
        }],
        'anniversaryTimeline.nodeRegular:nodeImage.contributors.other',
        'anniversaryTimeline.nodeRegular:nodeImage.contributors.user:user',
        ['anniversaryTimeline.nodeRegular:nodePrintImage', {
            withTransforms: [
                { width: 250, height: 250, mode: 'fit' }
            ]
        }],
        ['anniversaryTimeline.nodeEmbed:nodeEmbedImage', {
            withTransforms: [
                { width: 400 },
                { width: 650 }
            ]
        }],
        'anniversaryTimeline.nodeEmbed:nodeEmbedImage.contributors.other',
        'anniversaryTimeline.nodeEmbed:nodeEmbedImage.contributors.user:user',
    ])
    .limit(1)
    .collect()
    .first() %}

{% block main %}
    <div class="anniversary-timeline__intro">
        {% set image = entry.anniversaryImage.first() %}
        {% set srcset = [1024, 1440] %}
        {% set transform = { width: srcset|last } %}

        {{ tag('img', {
            height: image.getHeight(transform),
            sizes: '100vw',
            srcset: image.getSrcset(srcset),
            width: image.getWidth(transform)
        }) }}

        <div class="anniversary-timeline__intro__title">
            <span>Jubiläum</span>
            <h2>100 Jahre Zoff</h2>
        </div>
    </div>

    <div class="anniversary-timeline__intro__description">
        {{ entry.anniversaryDescription }}

        {% if entry.anniversaryLinks|length > 0 %}
            <div class="anniversary-timeline__intro__links">
                {% for link in entry.anniversaryLinks %}
                    {{ link({
                        href: link.url,
                        icon: false,
                        label: link.label,
                        style: 'bright',
                        target: link.blank ? '_blank' : '_self'
                    }) }}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if entry.anniversaryTimeline|length > 0 %}
        <div class="anniversary-timeline__timeline">
            <div class="anniversary-timeline__line__outer">
                <div class="anniversary-timeline__line__inner"></div>
            </div>
            <div class="anniversary-timeline__nodes">
                {% for node in entry.anniversaryTimeline %}
                    {% if node.type == 'nodeRegular' %}
                        <div class="anniversary-timeline__node">
                            <div class="anniversary-timeline__node__anchor">
                                <span class="anniversary-timeline__node__year">{{ node.nodeYear }}</span>
                                <span class="anniversary-timeline__node__label">{{ node.nodeLabel }}</span>
                            </div>
                            <div class="anniversary-timeline__node__container">
                                <h3 class="anniversary-timeline__node__title">{{ node.nodeTitle }}</h3>
                            </div>

                            {% if node.nodeImage.count() > 0 %}
                                {{ image({
                                    image: node.nodeImage.first(),
                                    lightbox: false,
                                    size: 'large'
                                }) }}
                            {% endif %}

                            <div class="anniversary-timeline__node__container">
                                <div class="anniversary-timeline__node__description">
                                    {{ node.nodeDescription }}
                                </div>

                                {% if node.nodePrintImage.count() > 0 %}
                                    {% set html %}
                                        {% set image = node.nodePrintImage.first() %}
                                        {% set transform = { width: 250, height: 250, mode: 'fit' } %}

                                        {{ tag('img', {
                                            height: image.getHeight(transform),
                                            loading: 'lazy',
                                            sizes: '100vw',
                                            srcset: image.getUrl(transform) ~ ' 250w',
                                            width: image.getWidth(transform)
                                        }) }}

                                        {% if node.nodePrintLink %}
                                            <span>
                                                Ausgabe öffnen
                                                {{ icon({
                                                    name: 'external-link'
                                                }) }}
                                            </span>
                                        {% endif %}
                                    {% endset %}

                                    <div class="anniversary-timeline__node__print">
                                        {% if node.nodePrintLink %}
                                            {{ tag('a', {
                                                href: node.nodePrintLink,
                                                html: html,
                                            }) }}
                                        {% else %}
                                            {{ html }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% elseif node.type == 'nodeEmbed' %}
                        <div class="anniversary-timeline__node">
                            <div class="anniversary-timeline__node__anchor">
                                <span class="anniversary-timeline__node__year">{{ node.nodeYear }}</span>
                                <span class="anniversary-timeline__node__label">{{ node.nodeLabel }}</span>
                            </div>

                            <div class="anniversary-timeline__node__container">
                                <div class="anniversary-timeline__embed-teaser anniversary-timeline__embed" onclick="ZS.Anniversary.openEmbed(this)">
                                    {% if node.nodeEmbedImage.count() > 0 %}
                                        {{ image({
                                            caption: false,
                                            image: node.nodeEmbedImage.first(),
                                            lightbox: false,
                                            size: 'small'
                                        }) }}
                                    {% endif %}
                                    <div class="anniversary-timeline__embed-teaser__text">
                                        {% if node.nodeEmbedPublication %}
                                            <span class="anniversary-timeline__embed__publication">{{ node.nodeEmbedPublication }}</span>
                                        {% endif %}

                                        <h3 class="anniversary-timeline__embed__title">{{ node.nodeEmbedTitle }}</h3>

                                        <div class="anniversary-timeline__embed__description">
                                            {{ node.nodeEmbedDescription }}
                                        </div>

                                        {{ button({
                                            class: 'anniversary-timeline__embed-teaser__read-more',
                                            icon: 'chevron-right',
                                            iconPosition: 'right',
                                            label: 'Weiterlesen',
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="anniversary-timeline__embed-overlay anniversary-timeline__embed">
                                <div class="anniversary-timeline__embed-overlay__inner">
                                    <div class="anniversary-timeline__embed-overlay__close" onclick="ZS.Anniversary.closeEmbed(this)">
                                        {{ button({
                                            icon: 'x',
                                            label: 'Schliessen',
                                            onclick: 'ZS.Anniversary.closeEmbed(this)',
                                            style: 'bright'
                                        }) }}
                                    </div>
                                    <div class="anniversary-timeline__embed-overlay__article">
                                        <div class="anniversary-timeline__embed-overlay__text">
                                            {% if node.nodeEmbedPublication %}
                                                <span class="anniversary-timeline__embed__publication">{{ node.nodeEmbedPublication }}</span>
                                            {% endif %}

                                            <h3 class="anniversary-timeline__embed__title">{{ node.nodeEmbedTitle }}</h3>

                                            {% if node.nodeEmbedByline %}
                                                <span class="anniversary-timeline__embed__byline">{{ node.nodeEmbedByline }}</span>
                                            {% endif %}
                                        </div>

                                        {% if node.nodeEmbedImage.count() > 0 %}
                                            {{ image({
                                                image: node.nodeEmbedImage.first(),
                                                lightbox: false,
                                                size: 'medium'
                                            }) }}
                                        {% endif %}

                                        <div class="anniversary-timeline__embed-overlay__text">
                                            <div class="anniversary-timeline__embed__content">
                                                {{ node.nodeEmbedContent }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="anniversary-timeline__embed-overlay__overlay" onclick="ZS.Anniversary.closeEmbed(this)"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% set meta = {
    image: entry.anniversaryImage.first(),
    title: '100 Jahre',
    url: url('100')
} %}
