{%- header 'Content-Type: application/atom+xml' -%}

{%- set articles = craft.entries()
    .section('articles')
    .with([
        'articleContributions.contribution:contributionUser',
        'articleContributions.contributionExternal'
    ])
    .orderBy('postDate DESC')
    .collect() -%}

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <id>{{ url('') }}</id>

    <title>Zürcher Studierendenzeitung</title>
    <subtitle>Die Zürcher Studierendenzeitung (ZS) ist die unabhängige Zeitung für die Universität Zürich und die ETH Zürich.</subtitle>

    <link href="{{ url('feed') }}" rel="self" type="application/atom+xml" />
    <link href="{{ url('') }}" rel="alternate" type="html" />

    {% if articles|length > 0 %}
        <updated>{{ articles.first().postDate|date('c') }}</updated>
    {% endif %}

    <author>
        <name>Zürcher Studierendenzeitung</name>
        <uri>{{ url('') }}</uri>
    </author>

    {% for article in articles %}
        <entry>
            <id>{{ article.url }}</id>

            <title>{{ article.title }}</title>
            {% if article.articleLead %}
                <summary>{{ article.articleLead }}</summary>
            {% endif %}

            <link href="{{ article.url }}" rel="alternate" type="html" />

            <published>{{ article.postDate|date('c') }}</published>
            <updated>{{ article.dateUpdated|date('c') }}</updated>

            {% for contribution in article.articleContributions %}
                <author>
                    {% if contribution.type == 'contribution' %}
                        {% set user = contribution.contributionUser.first() %}

                        <name>{{ user.fullName }}</name>
                        <uri>{{ url('autor-innen/' ~ user.username) }}</uri>
                    {% elseif contribution.type == 'contributionExternal' %}
                        <name>{{ contribution.contributionExternalContributor }}</name>
                    {% endif %}
                </author>
            {% endfor %}
        </entry>
    {% endfor %}
</feed>
