{% extends '_layouts/default.twig' %}

{% from '_macros/article.twig' import preview %}
{% from '_macros/button.twig' import link %}
{% from '_macros/icon.twig' import icon %}

{% set home = craft.entries()
    .section('home')
    .with([
        'homeSections.homeSection:homeSectionLayouts.homeSectionLayout:homeSectionLayoutArticles.articleFormat',
        ['homeSections.homeSection:homeSectionLayouts.homeSectionLayout:homeSectionLayoutArticles.articleImage', {
            withTransforms: [
                { height: 250, width: 400 },
                { height: 406, width: 650 },
                { height: 640, width: 1024 },
                { height: 900, width: 1440 }
            ]
        }],
        'homeSections.homeSection:homeSectionLayouts.homeSectionLayout:homeSectionLayoutArticles.articleContributions.contribution:contributionUser',
        'homeSections.homeSection:homeSectionLayouts.homeSectionLayout:homeSectionLayoutArticles.articleContributions.contributionExternal'
    ])
    .limit(1)
    .collect()
    .first() %}

{% set headerSize = 'large' %}
{% set headerStyle = home.homeSections.count() > 0 and home.homeSections.first().homeSectionColor ? 'transparent' : 'solid' %}
{% set layoutSize = 'large' %}

{% block main %}
    <div class="home">
        {% for section in home.homeSections %}
            <div class="{{ html_classes('home-block', 'home-' ~ section.type, {
                'home-block--colored': section.homeSectionColor,
                'home-block--colored-prev': loop.index0 - 1 >= 0 and home.homeSections[loop.index0 - 1].homeSectionColor,
                'home-block--colored-next': loop.index0 + 1 < loop.length and home.homeSections[loop.index0 + 1].homeSectionColor,
                'home-block--labeled': section.homeSectionTitle
            }) }}" style="--color-home-block-bg: {{ section.homeSectionColor }};">
                {% if section.homeSectionTitle %}
                    <h3 class="home-block__label">{{ section.homeSectionTitle }}</h3>
                {% endif %}

                {% for layout in section.homeSectionLayouts %}
                    <div class="{{ html_classes('home-articles__row', 'home-articles__row--' ~ layout.homeSectionLayoutAppearance) }}">
                        {% switch layout.homeSectionLayoutAppearance %}
                            {% case 'h' or 'v' %}
                                {% if layout.homeSectionLayoutArticles|length >= 1 %}
                                    <div class="home-articles__column">
                                        {{ preview({
                                            article: layout.homeSectionLayoutArticles.first(),
                                            orientation: (layout.homeSectionLayoutAppearance == 'h') ? 'horizontal' : 'vertical',
                                            size: 'large'
                                        }) }}
                                    </div>
                                {% endif %}
                            {% case 'hh' or 'vv' %}
                                {% for article in layout.homeSectionLayoutArticles.slice(0, 2) %}
                                    <div class="home-articles__column">
                                        {{ preview({
                                            article: article,
                                            orientation: (layout.homeSectionLayoutAppearance == 'hh') ? 'horizontal' : 'vertical',
                                            size: (layout.homeSectionLayoutAppearance == 'hh') ? 'small' : 'medium'
                                        }) }}
                                    </div>
                                {% endfor %}
                            {% case 'vh' %}
                                {% if layout.homeSectionLayoutArticles|length > 0 %}
                                    <div class="home-articles__column">
                                        {{ preview({
                                            article: layout.homeSectionLayoutArticles.first(),
                                            orientation: 'vertical',
                                            size: 'medium'
                                        }) }}
                                    </div>
                                {% endif %}
                                {% if layout.homeSectionLayoutArticles|length > 1 %}
                                    <div class="home-articles__column">
                                        {% for article in layout.homeSectionLayoutArticles.slice(1, 3) %}
                                            <div class="home-articles__column__row">
                                                {{ preview({
                                                    article: article,
                                                    orientation: 'horizontal',
                                                    size: 'small'
                                                }) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                        {% endswitch %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="home-more">
        <span>Nicht gefunden, wonach du suchst?</span>
        {{ link({
            href: url('artikel'),
            label: 'Alle Artikel anzeigen',
            style: 'accent'
        }) }}
    </div>
{% endblock %}

{% set meta = {} %}
