{% extends '_layouts/default.twig' %}

{% from '_macros/button.twig' import button, link %}
{% from '_macros/content.twig' import caption, image %}
{% from '_macros/icon.twig' import icon %}

{% set colorScheme = 'dark' %}

{% set entry = craft.entries()
    .section('timeline')
    .with([
        ['timelineImage', {
            withTransforms: [
                { width: 1024 },
                { width: 1440 },

                { height: 628, width: 1200, format: 'jpeg' }
            ]
        }],
        'timelineImage.imageContributions.contribution:contributionUser',
        'timelineImage.imageContributions.contributionExternal',
        ['timelineEvents.timelineEvent:nodeImage', {
            withTransforms: [
                { width: 400 },
                { width: 650 },
                { width: 1024 },
                { width: 1440 }
            ]
        }],
        'timelineEvents.timelineEvent:timelineEventImage.imageContributions.contribution:contributionUser',
        'timelineEvents.timelineEvent:timelineEventImage.imageContributions.contributionExternal',
        ['timelineEvents.timelineEvent:timelineEventPrintImage', {
            withTransforms: [
                { width: 250, height: 250, mode: 'fit' }
            ]
        }],
        ['timelineEvents.timelineEventArticle:timelineEventArticleImage', {
            withTransforms: [
                { width: 400 },
                { width: 650 }
            ]
        }],
        'timelineEvents.timelineEventArticle:timelineEventArticleImage.imageContributions.contribution:contributionUser',
        'timelineEvents.timelineEventArticle:timelineEventArticleImage.imageContributions.contributionExternal'
    ])
    .limit(1)
    .collect()
    .first() %}

{% set image = entry.timelineImage.first() %}
{% set headerStyle = image ? 'gradient' : 'solid' %}
{% set layoutSize = 'large' %}

{% block main %}
    <div class="{{ html_classes('timeline__header', {
        'timeline__header--has-image': image
    }) }}">
        {% if image %}
            {% set srcset = [1024, 1440] %}
            {% set transform = { width: srcset|last } %}

            {{ tag('img', {
                height: image.getHeight(transform),
                sizes: '100vw',
                srcset: image.getSrcset(srcset),
                width: image.getWidth(transform)
            }) }}
        {% endif %}

        <div class="timeline__header__title">
            <span>Jubiläum</span>
            <h2>
                100 Jahre ZS,<br>
                100 Jahre Zeitgeschichte
            </h2>
        </div>
    </div>

    {% if entry.timelineDescription %}
        <div class="{{ html_classes('timeline__intro', {
            'timeline__intro--has-image': image
        }) }}">
            <div class="timeline__intro__description">
                {{ entry.timelineDescription }}
            </div>

            {{ caption({
                caption: image.imageCaption,
                contributions: image.imageContributions
            }) }}
        </div>
    {% endif %}

    {% if entry.timelineEvents|length > 0 %}
        <div class="timeline__timeline">
            <div class="timeline__line__outer">
                <div class="timeline__line__inner"></div>
            </div>
            <div class="timeline__nodes">
                {% for event in entry.timelineEvents %}
                    {% if event.type == 'timelineEvent' %}
                        <div class="timeline__node">
                            <div class="timeline__node__anchor">
                                <span class="timeline__node__year">{{ event.timelineEventYear }}</span>
                                <span class="timeline__node__label">{{ event.timelineEventLabel }}</span>
                            </div>
                            <div class="timeline__node__container">
                                <h3 class="timeline__node__title">{{ event.title }}</h3>
                            </div>

                            {% if event.timelineEventImage.count() > 0 %}
                                {{ image({
                                    image: event.timelineEventImage.first(),
                                    lightbox: false,
                                    size: 'large'
                                }) }}
                            {% endif %}

                            <div class="timeline__node__container">
                                <div class="timeline__node__description">
                                    {{ event.timelineEventDescription }}
                                </div>

                                {% if event.timelineEventPrintImage.count() > 0 %}
                                    {% set html %}
                                        {% set image = event.timelineEventPrintImage.first() %}
                                        {% set transform = { width: 250, height: 250, mode: 'fit' } %}

                                        {{ tag('img', {
                                            height: image.getHeight(transform),
                                            loading: 'lazy',
                                            sizes: '100vw',
                                            srcset: image.getUrl(transform) ~ ' 250w',
                                            width: image.getWidth(transform)
                                        }) }}

                                        {% if event.timelineEventPrintLink %}
                                            <span>
                                                Ausgabe öffnen
                                                {{ icon({
                                                    name: 'external-link'
                                                }) }}
                                            </span>
                                        {% endif %}
                                    {% endset %}

                                    <div class="timeline__node__print">
                                        {% if event.timelineEventPrintLink %}
                                            {{ tag('a', {
                                                href: event.timelineEventPrintLink,
                                                html: html,
                                                target: '_blank'
                                            }) }}
                                        {% else %}
                                            {{ html }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% elseif event.type == 'timelineEventArticle' %}
                        <div class="timeline__node">
                            <div class="timeline__node__anchor">
                                <span class="timeline__node__year">{{ event.timelineEventArticleYear }}</span>
                                <span class="timeline__node__label">{{ event.timelineEventArticleLabel }}</span>
                            </div>

                            <div class="timeline__node__container">
                                <div class="timeline__embed-teaser timeline__embed" onclick="ZS.Timeline.openEmbed(this)">
                                    {% if event.timelineEventArticleImage.count() > 0 %}
                                        {{ image({
                                            caption: false,
                                            image: event.timelineEventArticleImage.first(),
                                            lightbox: false,
                                            size: 'small'
                                        }) }}
                                    {% endif %}
                                    <div class="timeline__embed-teaser__text">
                                        {% if event.timelineEventArticlePublication %}
                                            <span class="timeline__embed__publication">{{ event.timelineEventArticlePublication }}</span>
                                        {% endif %}

                                        <h3 class="timeline__embed__title">{{ event.title }}</h3>

                                        <div class="timeline__embed__description">
                                            {{ event.timelineEventArticleDescription }}
                                        </div>

                                        {{ button({
                                            class: 'timeline__embed-teaser__read-more',
                                            icon: 'chevron-right',
                                            iconPosition: 'right',
                                            label: 'Weiterlesen',
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="timeline__embed-overlay timeline__embed">
                                <div class="timeline__embed-overlay__inner">
                                    <div class="timeline__embed-overlay__close" onclick="ZS.Timeline.closeEmbed(this)">
                                        {{ button({
                                            icon: 'x',
                                            label: 'Schliessen',
                                            onclick: 'ZS.Timeline.closeEmbed(this)',
                                            style: 'bright'
                                        }) }}
                                    </div>
                                    <div class="timeline__embed-overlay__article">
                                        <div class="timeline__embed-overlay__text">
                                            {% if event.timelineEventArticlePublication %}
                                                <span class="timeline__embed__publication">{{ event.timelineEventArticlePublication }}</span>
                                            {% endif %}

                                            <h3 class="timeline__embed__title">{{ event.title }}</h3>

                                            {% if event.timelineEventArticleByline %}
                                                <span class="timeline__embed__byline">{{ event.timelineEventArticleByline }}</span>
                                            {% endif %}
                                        </div>

                                        {% if event.timelineEventArticleImage.count() > 0 %}
                                            {{ image({
                                                image: event.timelineEventArticleImage.first(),
                                                lightbox: false,
                                                size: 'medium'
                                            }) }}
                                        {% endif %}

                                        <div class="timeline__embed-overlay__text">
                                            <div class="timeline__embed__content">
                                                {{ event.timelineEventArticleContent }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline__embed-overlay__overlay" onclick="ZS.Timeline.closeEmbed(this)"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% set meta = {
    image: entry.timelineImage.first(),
    title: '100 Jahre ZS',
    url: url('100')
} %}
