{% extends '_layouts/default.twig' %}

{% from '_macros/button.twig' import button, link %}
{% from '_macros/content.twig' import caption, image %}
{% from '_macros/icon.twig' import icon %}

{% set colorScheme = 'dark' %}

{% set entry = craft.entries()
    .section('timeline')
    .with([
        ['timelineImage', {
            withTransforms: [
                { width: 1024 },
                { width: 1440 },

                {
                    height: 628,
                    width: 1200,
                    format: 'jpeg'
                }
            ]
        }],
        'timelineImage.contributors.other',
        'timelineImage.contributors.user:user',
        'timelineNodes',
        ['timelineNodes.nodeRegular:nodeImage', {
            withTransforms: [
                { width: 400 },
                { width: 650 },
                { width: 1024 },
                { width: 1440 }
            ]
        }],
        'timelineNodes.nodeRegular:nodeImage.contributors.other',
        'timelineNodes.nodeRegular:nodeImage.contributors.user:user',
        ['timelineNodes.nodeRegular:nodePrintImage', {
            withTransforms: [
                { width: 250, height: 250, mode: 'fit' }
            ]
        }],
        ['timelineNodes.nodeEmbed:nodeEmbedImage', {
            withTransforms: [
                { width: 400 },
                { width: 650 }
            ]
        }],
        'timelineNodes.nodeEmbed:nodeEmbedImage.contributors.other',
        'timelineNodes.nodeEmbed:nodeEmbedImage.contributors.user:user',
    ])
    .limit(1)
    .collect()
    .first() %}

{% set image = entry.timelineImage.first() %}
{% set headerStyle = image ? 'gradient' : 'solid' %}
{% set layoutSize = 'large' %}

{% block main %}
    <div class="{{ html_classes('timeline__header', {
        'timeline__header--has-image': image
    }) }}">
        {% if image %}
            {% set srcset = [1024, 1440] %}
            {% set transform = { width: srcset|last } %}

            {{ tag('img', {
                height: image.getHeight(transform),
                sizes: '100vw',
                srcset: image.getSrcset(srcset),
                width: image.getWidth(transform)
            }) }}
        {% endif %}

        <div class="timeline__header__title">
            <span>Jubiläum</span>
            <h2>
                100 Jahre ZS,<br>
                100 Jahre Zeitgeschichte
            </h2>
        </div>
    </div>

    {% if entry.timelineDescription %}
        <div class="{{ html_classes('timeline__intro', {
            'timeline__intro--has-image': image
        }) }}">
            <div class="timeline__intro__description">
                {{ entry.timelineDescription }}
            </div>

            {% if entry.timelineLinks|length > 0 %}
                <div class="timeline__intro__links">
                    {% for link in entry.timelineLinks %}
                        {{ link({
                            href: link.url,
                            icon: false,
                            label: link.label,
                            style: 'bright',
                            target: link.blank ? '_blank' : '_self'
                        }) }}
                    {% endfor %}
                </div>
            {% endif %}

            {{ caption({
                caption: image.caption,
                contributors: image.contributors.all()
            }) }}
        </div>
    {% endif %}

    {% if entry.timelineNodes|length > 0 %}
        <div class="timeline__timeline">
            <div class="timeline__line__outer">
                <div class="timeline__line__inner"></div>
            </div>
            <div class="timeline__nodes">
                {% for node in entry.timelineNodes %}
                    {% if node.type == 'nodeRegular' %}
                        <div class="timeline__node">
                            <div class="timeline__node__anchor">
                                <span class="timeline__node__year">{{ node.nodeYear }}</span>
                                <span class="timeline__node__label">{{ node.nodeLabel }}</span>
                            </div>
                            <div class="timeline__node__container">
                                <h3 class="timeline__node__title">{{ node.nodeTitle }}</h3>
                            </div>

                            {% if node.nodeImage.count() > 0 %}
                                {{ image({
                                    image: node.nodeImage.first(),
                                    lightbox: false,
                                    size: 'large'
                                }) }}
                            {% endif %}

                            <div class="timeline__node__container">
                                <div class="timeline__node__description">
                                    {{ node.nodeDescription }}
                                </div>

                                {% if node.nodePrintImage.count() > 0 %}
                                    {% set html %}
                                        {% set image = node.nodePrintImage.first() %}
                                        {% set transform = { width: 250, height: 250, mode: 'fit' } %}

                                        {{ tag('img', {
                                            height: image.getHeight(transform),
                                            loading: 'lazy',
                                            sizes: '100vw',
                                            srcset: image.getUrl(transform) ~ ' 250w',
                                            width: image.getWidth(transform)
                                        }) }}

                                        {% if node.nodePrintLink %}
                                            <span>
                                                Ausgabe öffnen
                                                {{ icon({
                                                    name: 'external-link'
                                                }) }}
                                            </span>
                                        {% endif %}
                                    {% endset %}

                                    <div class="timeline__node__print">
                                        {% if node.nodePrintLink %}
                                            {{ tag('a', {
                                                href: node.nodePrintLink,
                                                html: html,
                                                target: '_blank'
                                            }) }}
                                        {% else %}
                                            {{ html }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% elseif node.type == 'nodeEmbed' %}
                        <div class="timeline__node">
                            <div class="timeline__node__anchor">
                                <span class="timeline__node__year">{{ node.nodeYear }}</span>
                                <span class="timeline__node__label">{{ node.nodeLabel }}</span>
                            </div>

                            <div class="timeline__node__container">
                                <div class="timeline__embed-teaser timeline__embed" onclick="ZS.Timeline.openEmbed(this)">
                                    {% if node.nodeEmbedImage.count() > 0 %}
                                        {{ image({
                                            caption: false,
                                            image: node.nodeEmbedImage.first(),
                                            lightbox: false,
                                            size: 'small'
                                        }) }}
                                    {% endif %}
                                    <div class="timeline__embed-teaser__text">
                                        {% if node.nodeEmbedPublication %}
                                            <span class="timeline__embed__publication">{{ node.nodeEmbedPublication }}</span>
                                        {% endif %}

                                        <h3 class="timeline__embed__title">{{ node.nodeEmbedTitle }}</h3>

                                        <div class="timeline__embed__description">
                                            {{ node.nodeEmbedDescription }}
                                        </div>

                                        {{ button({
                                            class: 'timeline__embed-teaser__read-more',
                                            icon: 'chevron-right',
                                            iconPosition: 'right',
                                            label: 'Weiterlesen',
                                        }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="timeline__embed-overlay timeline__embed">
                                <div class="timeline__embed-overlay__inner">
                                    <div class="timeline__embed-overlay__close" onclick="ZS.Timeline.closeEmbed(this)">
                                        {{ button({
                                            icon: 'x',
                                            label: 'Schliessen',
                                            onclick: 'ZS.Timeline.closeEmbed(this)',
                                            style: 'bright'
                                        }) }}
                                    </div>
                                    <div class="timeline__embed-overlay__article">
                                        <div class="timeline__embed-overlay__text">
                                            {% if node.nodeEmbedPublication %}
                                                <span class="timeline__embed__publication">{{ node.nodeEmbedPublication }}</span>
                                            {% endif %}

                                            <h3 class="timeline__embed__title">{{ node.nodeEmbedTitle }}</h3>

                                            {% if node.nodeEmbedByline %}
                                                <span class="timeline__embed__byline">{{ node.nodeEmbedByline }}</span>
                                            {% endif %}
                                        </div>

                                        {% if node.nodeEmbedImage.count() > 0 %}
                                            {{ image({
                                                image: node.nodeEmbedImage.first(),
                                                lightbox: false,
                                                size: 'medium'
                                            }) }}
                                        {% endif %}

                                        <div class="timeline__embed-overlay__text">
                                            <div class="timeline__embed__content">
                                                {{ node.nodeEmbedContent }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline__embed-overlay__overlay" onclick="ZS.Timeline.closeEmbed(this)"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% set meta = {
    image: entry.timelineImage.first(),
    title: '100 Jahre ZS',
    url: url('100')
} %}
