{% macro preview(args) %}
    {% set args = {
        article: null,
        orientation: 'vertical',
        size: 'small'
    } | merge(args) %}

    {% from '_macros/content.twig' import meta %}

    {% set format = args.article.articleFormat.first() %}
    {% set image = args.article.contentImage.first() %}

    <a class="{{ html_classes('article-preview', 'article-preview--' ~ args.orientation, 'article-preview--' ~ args.size) }}" href="{{ args.article.url }}">
        {% if image %}
            {% switch args.size %}
                {% case 'small' %}
                    {% set transform = { height: 250, width: 400 } %}
                    {% set srcset = image.getUrl({ height: 250, width: 400 }) ~ ' 400w' %}
            {% case 'medium' %}
                    {% set transform = { height: 640, width: 1024 } %}
                    {% set srcset = image.getUrl({ height: 250, width: 400 }) ~ ' 400w, ' ~ image.getUrl({ height: 406, width: 650 }) ~ ' 650w, ' ~ image.getUrl({ height: 640, width: 1024 }) ~ ' 1024w' %}
                {% case 'large' %}
                    {% set transform = { height: 900, width: 1440 } %}
                    {% set srcset = image.getUrl({ height: 250, width: 400 }) ~ ' 400w, ' ~ image.getUrl({ height: 406, width: 650 }) ~ ' 650w, ' ~ image.getUrl({ height: 640, width: 1024 }) ~ ' 1024w, ' ~ image.getUrl({ height: 900, width: 1440 }) ~ ' 1440w' %}
            {% endswitch %}

            {{ tag('img', {
                class: 'article-preview__image',
                height: image.getHeight(transform),
                loading: 'lazy',
                sizes: '100vw',
                srcset: srcset,
                width: image.getWidth(transform)
            }) }}
        {% endif %}

        <div class="article-preview__text">
            <h4 class="article-preview__title">{{ args.article.title }}</h4>

            {% if args.article.contentDescription or format or args.article.articleAd %}
                <p class="article-preview__description">
                    {% if args.article.articleAd %}
                        <span class="ad-declaration article-preview__ad-declaration">Werbung</span>
                    {% endif %}

                    {%- if format -%}
                        <span class="article-preview__format">
                          {{- format.title -}}
                        </span>
                        {%- if args.article.contentDescription -%}
                            &ensp;&mdash;&ensp;
                        {%- endif -%}
                    {%- endif -%}

                    {{ args.article.contentDescription }}
                </p>
            {% endif %}

            {{ meta({
                contributors: args.article.contributors.all(),
                datePublished: args.article.postDate,
                showLinks: false,
            }) }}
        </div>
    </a>
{% endmacro %}
