{% from '_macros/button.twig' import button %}
{% from '_macros/message.twig' import message %}
{% from '_macros/icon.twig' import icon %}

{% set entryId = entryId ?? '' %}
{% set siteId = siteId ?? '' %}
{% set parentId = parentId ?? '' %}
{% set comment = comment ?? create('verbb\\comments\\elements\\Comment') %}

{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, { class: 'form__errors' }) }}
    {% endif %}
{% endmacro %}

<form class="comment-form form" sprig s-method="post" s-action="comments/comments/save">
    <input type="hidden" name="elementId" value="{{ entryId }}">
    <input type="hidden" name="siteId" value="{{ siteId }}">
    {% if currentUser %}
        <input type="hidden" name="userId" value="{{ currentUser.id ?? '' }}">
    {% endif %}
    {% if parentId %}
        <input type="hidden" name="newParentId" value="{{ parentId }}">
    {% endif %}
    {{ craft.comments.protect() }}

    <fieldset class="form__fields">
        {% if not currentUser %}
            <div class="form__field">
                <label for="comment-form__name">Name:</label>
                {{ _self.errorList(comment.getErrors('name')) }}
                <input id="comment-form__name" name="fields[name]" type="text" required value="{{ comment.name ?? '' }}" />
            </div>

            <div class="form__field">
                <label for="comment-form__email">E-Mail-Adresse:</label>
                {{ _self.errorList(comment.getErrors('email')) }}
                <input id="comment-form__email" name="fields[email]" type="email" required value="{{ comment.email ?? '' }}" />
                <p class="form__small">Deine E-Mail-Adresse wird nicht veröffentlicht.</p>
            </div>
        {% endif %}

        <div class="form__field">
            <label for="comment-form__comment">Kommentar:</label>
            {{ _self.errorList(comment.getErrors('comment')) }}
            <textarea id="comment-form__comment" name="fields[comment]" required>{{ comment.comment ?? '' }}</textarea>
        </div>
    </fieldset>

    {% if sprig.isSuccess %}
        <fieldset>
            <span class="form__success">Danke für deinen Kommentar. Es kann einige Tage dauern, bis er freigeschaltet wird.</span>
        </fieldset>
    {% endif %}

    <fieldset class="form__controls">
        {{ button({
            label: 'Abschicken',
            style: 'accent',
            type: 'submit'
        }) }}

        {% if currentUser %}
            <span class="comment-form__user">
                Angemeldet als {{ currentUser.fullname }}
            </span>
        {% endif %}
    </fieldset>
</form>
