{% from '_macros/button.twig' import button %}
{% from '_macros/message.twig' import message %}

{% set plan = plan ?? null %}
{% set subscription = subscription ?? create('site\\models\\Subscription') %}

{% macro errorList(errors) %}
    {% if errors %}
        {{ ul(errors, { class: 'form__errors' }) }}
    {% endif %}
{% endmacro %}

<form class="form" sprig s-method="post" s-action="site/subscriptions/create">
    <fieldset class="form__fields">
        <div class="form__field">
            <input id="subscription__plan--regular" class="subscription__plan__input" name="plan" type="radio" value="regular" sprig s-vals='{"sprig:action":""}' {% if plan == 'regular' %}checked{% endif %}>
            <label class="subscription__plan__label" for="subscription__plan--regular">
                <b>Reguläres Abo</b>
                <span>CHF 50 / Jahr</span>
            </label>

            <input id="subscription__plan--student" class="subscription__plan__input" name="plan" type="radio" value="student" sprig s-vals='{"sprig:action":""}' {% if plan == 'student' %}checked{% endif %}>
            <label class="subscription__plan__label" for="subscription__plan--student">
                <b>Studentisches Abo</b>
                <span>Gratis</span>
                <p>ETH-Studierende sowie Studierende anderer Schweizer Hochschulen lesen die ZS gratis.</p>
                {{ message({
                    message: 'Studierende der Universität Zürich erhalten die ZS automatisch.',
                    style: 'dark'
                }) }}
            </label>
            {{ _self.errorList(subscription.getErrors('plan')) }}
        </div>
    </fieldset>

    {% if plan %}
        <fieldset class="form__fields">
            <div class="form__field">
                <label for="subscription__email">E-Mail-Adresse:</label>
                {{ _self.errorList(subscription.getErrors('email')) }}
                <input id="subscription__email" name="email" type="email" required value="{{ subscription.email }}">
                {% if plan == 'student' %}
                    <p class="form__small">Registriere dich mit der E-Mail-Adresse deiner Hochschule.</p>
                {% endif %}
            </div>
            {% if plan == 'student' %}
                <div class="form__field">
                    <label for="subscription__end-date">Voraussichtlicher Studienabschluss:</label>
                    {{ _self.errorList(subscription.getErrors('endDate')) }}
                    <input id="subscription__end-date" name="endDate" type="number" min="{{ now|date('Y') }}" max="{{ now|date('Y') + 9 }}" step="1" required value="{{ subscription.endDate ?? (now|date('Y') + 5) }}">
                </div>
            {% endif %}
        </fieldset>

        <fieldset class="form__fields">
            <div class="form__field">
                <label for="subscription__name">Name:</label>
                {{ _self.errorList(subscription.getErrors('name')) }}
                <input id="subscription__name" name="name" type="text" required value="{{ subscription.name }}">
            </div>
            <div class="form__field">
                <label for="subscription__address-line-1">Strasse und Hausnummer:</label>
                {{ _self.errorList(subscription.getErrors('addressLine1')) }}
                <input id="subscription__address-line-1" name="addressLine1" type="text" required value="{{ subscription.addressLine1 }}">
            </div>
            <div class="form__field">
                <label for="subscription__address-line-2">Adresszusatz:</label>
                {{ _self.errorList(subscription.getErrors('addressLine2')) }}
                <input id="subscription__address-line-2" name="addressLine2" type="text" value="{{ subscription.addressLine2 }}">
            </div>
            <div class="form__field">
                <label for="subscription__postal-code">Postleitzahl:</label>
                {{ _self.errorList(subscription.getErrors('postalCode')) }}
                <input id="subscription__postal-code" name="postalCode" type="number" min="1000" max="9999" step="1" required value="{{ subscription.postalCode }}">
            </div>
            <div class="form__field">
                <label for="subscription__locality">Ort:</label>
                {{ _self.errorList(subscription.getErrors('locality')) }}
                <input id="subscription__locality" name="locality" type="text" required value="{{ subscription.locality }}">
            </div>
            <div class="form__field">
                <label for="subscription__country">Land:</label>
                {{ _self.errorList(subscription.getErrors('country')) }}
                <input id="subscription__country" name="country" type="text" value="Schweiz" disabled>
            </div>
        </fieldset>
    {% endif %}

    {% if sprig.isError %}
        <fieldset>
            <ul class="form__errors">
                <li>Leider ist ein Fehler aufgetreten. Bitte <a href="{{ url('kontakt') }}">kontaktiere</a> uns, damit wir deine Bestellung abschliessen können.</li>
            </ul>
        </fieldset>
    {% endif %}

    {% if sprig.isSuccess %}
        <fieldset>
            {% if plan == 'regular' %}
                <span class="form__success">
                    Vielen Dank für deine Bestellung. Es kann eine Weile dauern, bis du eine Rechnung erhältst.
                    Du musst nichts unternehmen. Die ZS stellen wir dir ab sofort zu.
                </span>
            {% else %}
                <span class="form__success">Vielen Dank für deine Bestellung. Wir stellen dir die ZS fortan zu.</span>
            {% endif %}
        </fieldset>
    {% endif %}

    <fieldset class="form__controls">
        {{ button({
            disabled: not plan,
            label: 'Bestellen',
            style: 'accent',
            type: 'submit'
        }) }}
    </fieldset>
</form>
